---
import DiscordButton from '@/components/auth/DiscordButton.astro';
import { getSession } from 'auth-astro/server';
import Layout from '../layouts/Layout.astro';

const session = await getSession(Astro.request);
const pageDisabled = true;

if (session || pageDisabled) {
  return Astro.redirect('/');
}
---

<Layout title="Login - La Apuestada">
  <main class="flex flex-col gap-4 items-center justify-center h-screen">
    <DiscordButton class="w-100" />
  </main>
</Layout>
